body {
  margin:0px;
  /*background-image:none;*/
  position:static;
  left:auto;
  width: 100%;
	height: 100%;
  margin-left:0;
  margin-right:0;
  /*text-align:left;*/
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left: 0px;
	top: 0px;
	width: 1364px;
	height: 662px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  /*width:1580px;
  height:880px;*/
 width: 100%;
 height: 100%;
 opacity: 0;
}
#u1 {
  position:absolute;
  left:2px;
  top:187px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left: 82px;
  top: 52px;
  width:1200px;
  height:560px;
  margin-bottom: 50px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
 width:1200px;
  height:560px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  /*left:-2px;*/
  top:0px;
  width:1200px;
  height:560px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}
#u4 {
  position:absolute;
  left:2px;
  top:157px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width: 1200px;
    height: 560px;
  /*visibility:hidden;*/
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:560px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}
#u6 {
  position:absolute;
  left:2px;
  top:157px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width: 1200px;
  height: 560px;
  /*visibility:hidden;*/
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width: 1200px;
  height: 560px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}
#u8 {
  position:absolute;
  left:2px;
  top:157px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left: 1298px;
  top: 292px;
  width:44px;
  height:74px;
}
#u9_img {
  position:absolute;
  left: 10px;
	top: 14px;
  width: 26px;
    height: 44px;
}
#u10 {
  position:absolute;
  left:2px;
  top:30px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left: 16px;
  top: 292px;
  width:44px;
  height:74px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u11_img {
  position:absolute;
  left: 10px;
	top: 16px;
  width: 26px;
    height: 44px;
  
}
#u12 {
  position:absolute;
  left:2px;
  top:30px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#bottom-wrap{
    width: 100%;
    height: 30px;
    margin: 0 auto;
    position: absolute;
    bottom: -250px;
    left: 290px;
}
#u13 {
  position:absolute;
  left:362px;
  top:410px;
  width:16px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u13_img.selected {
}
#u13.selected {
}
#u14 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:391px;
  top:410px;
  width:16px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u15_img.selected {
}
#u15.selected {
}
#u16 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:422px;
  top:410px;
  width:16px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u17_img.selected {
}
#u17.selected {
}
#u18 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1302px;
  top:16px;
  width: 32px;
    height: 32px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width: 32px;
    height: 32px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1286px;
  top:50px;
  width:64px;
  height:74px;
  overflow:hidden;
  background: url(../../images/index/menu_bg.png) no-repeat;
  background-size:64px 74px;
  visibility:hidden;
}
#u21_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:74px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:-2px;
  top:4px;
  width:64px;
  height:36px;
}
#u22_img {
  position:absolute;
  left:10px;
  top:10px;
  width:20px;
  height:20px;
}
#u23 {
  position:absolute;
  left:28px;
  top:7px;
  width:36px;
  color: #8defff;
  font-size: 14px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:-2px;
  top:38px;
  width:64px;
  height:36px;
}
#u24_img {
  position:absolute;
  left:10px;
  top:8px;
  width:20px;
  height:20px;
}
#u25 {
  position:absolute;
  left:28px;
  top:7px;
  width:36px;
  color: #8defff;
  font-size: 14px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
      left: 24px;
    top: 16px;
    width: 32px;
    height: 32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width: 32px;
    height: 32px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:82px;
  top:52px;
  width: 1200px;
  height: 560px;
  overflow:hidden;
  visibility:hidden;
}
#u28_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width: 1200px;
  height: 560px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width: 1200px;
  height: 560px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}
#u30 {
  position:absolute;
  left:2px;
  top:202px;
  width:100%;
  word-wrap:break-word;
}
